parameters:
	ignoreErrors:
		-
			message: '#^Property Domain\\Model\\SalesInvoice\\Line\:\:\$currency is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Domain/Model/SalesInvoice/Line.php

		-
			message: '#^Property Domain\\Model\\SalesInvoice\\Line\:\:\$description is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Domain/Model/SalesInvoice/Line.php

		-
			message: '#^Property Domain\\Model\\SalesInvoice\\Line\:\:\$exchangeRate is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Domain/Model/SalesInvoice/Line.php

		-
			message: '#^Property Domain\\Model\\SalesInvoice\\SalesInvoice\:\:\$id is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Domain/Model/SalesInvoice/SalesInvoice.php

		-
			message: '#^Property Domain\\Model\\SalesInvoice\\SalesInvoice\:\:\$invoiceDate is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Domain/Model/SalesInvoice/SalesInvoice.php

		-
			message: '#^Property Domain\\Model\\SalesInvoice\\SalesInvoiceId\:\:\$uuid is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Domain/Model/SalesInvoice/SalesInvoiceId.php
