parameters:
	ignoreErrors:
		-
			message: "#^Property Domain\\\\Model\\\\SalesInvoice\\\\Line\\:\\:\\$currency is never read, only written\\.$#"
			count: 1
			path: src/Domain/Model/SalesInvoice/Line.php

		-
			message: "#^Property Domain\\\\Model\\\\SalesInvoice\\\\Line\\:\\:\\$description is never read, only written\\.$#"
			count: 1
			path: src/Domain/Model/SalesInvoice/Line.php

		-
			message: "#^Property Domain\\\\Model\\\\SalesInvoice\\\\Line\\:\\:\\$exchangeRate is never read, only written\\.$#"
			count: 1
			path: src/Domain/Model/SalesInvoice/Line.php

		-
			message: "#^Property Domain\\\\Model\\\\SalesInvoice\\\\Line\\:\\:\\$productId is never read, only written\\.$#"
			count: 1
			path: src/Domain/Model/SalesInvoice/Line.php

		-
			message: "#^Property Domain\\\\Model\\\\SalesInvoice\\\\SalesInvoice\\:\\:\\$customerId is never read, only written\\.$#"
			count: 1
			path: src/Domain/Model/SalesInvoice/SalesInvoice.php

		-
			message: "#^Property Domain\\\\Model\\\\SalesInvoice\\\\SalesInvoice\\:\\:\\$invoiceDate is never read, only written\\.$#"
			count: 1
			path: src/Domain/Model/SalesInvoice/SalesInvoice.php
